<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Lyrics_3_Tag_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Lyrics_3_Tag_Editor.Properties.Settings>
            <setting name="Volume" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AllowEmptyRows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowAutoSort" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowOriginalFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowReadEmptyLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Layout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1600</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="AllowRowStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowImportBlankLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowImportTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowExportTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SlideshowLayout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowFilesDragAndDrop" serializeAs="String">
                <value>True</value>
            </setting>
        </Lyrics_3_Tag_Editor.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
